extends base

block content
    .row
      .col-sm-8.col-sm-pull-4
        .wrapper
            h1(style="color: black") କାହାଣୀ ଉପସ୍ଥାପନ କରନ୍ତୁ – Submit Story
                h5(style="color: black")
                | କାହାଣୀ ପ୍ରକାଶନ ନିମନ୍ତେ ଉପସ୍ଥାପନା କରିବା ପୂର୍ବରୁ କିଛି ଗୁରୁତ୍ୱ କଥା ଉପରେ ଧ୍ୟାନ ଦିଅନ୍ତୁ:
                h7(style="color: black") ଭାଉଜ ନିମ୍ନ ପ୍ରକାରର କୌଣସି କାହାଣୀ ପ୍ରକାଶ କରିବ ନାହିଁ:
                ul(style="color: #666666")
                li ସମଲିଙ୍ଗୀ ପୁରୁଷ ଯୌନ
                li ନାବାଳକ କିମ୍ବା ନାବାଳିକା ଯୌନ ସମ୍ବନ୍ଧୀୟ
                li ପଶୁ ପାଖି ଆଦିଙ୍କ ସହ ଯୌନ
                li ଧର୍ଷଣ
                li କାହାଣୀ ଯାହା ମହିଳା ଉତ୍ପୀଡ଼ନ କୁ ଉତ୍ସାହିତ କରୁଥାଏ
                li କାହାଣୀ ଯାହା କୌଣସି ବ୍ୟକ୍ତି ବିଶେଷଙ୍କ ସମ୍ବନ୍ଧୀୟ
                li ଜନ୍ମଦାତା କିମ୍ବା ଜନ୍ମଦାତ୍ରୀ ଙ୍କ ସହ ଯୌନ
                li କାହାଣୀ ଯାହା ବିବାଦୀୟ ଘଟଣାକୁ ଅଧିକ ଉତେଜିତ କରୁଥାଏ
                li  କାହାଣୀ ଯାହା ଭାଉଜ କିମ୍ବା ଇଣ୍ଟେର୍ନେଟରେ ପୂର୍ବ ପ୍ରକାଶିତ
                h7(style="color: black") ନିମ୍ନ କାହାଣୀ ଆପଣ ମାନେ ଭାଉଜରେ ପ୍ରକାଶ ନିମନ୍ତେ ପଠାଇ ପାରିବେ:
                ul(style="color: #666666")
                li କାହାଣୀ ଯାହା ଲୁଚି ରହିଥିବା ଯୌନ ପିପାସାକୁ ବଢ଼େଇ ଜୀବନରେ ନୂଆ ରଙ୍ଗ ଆଣି ଦିଏ
                li ଧର୍ଷଣ ଯୋଗୁଁ ଦଣ୍ଡ କୁ ପ୍ରକାଶ କରୁଥିବା କାହାଣୀ
                li
                    | ବୈବାହିକ ଜୀବନକୁ ଆନନ୍ଦ ପ୍ରଦାନ କରୁଥିବା ସମ୍ଭୋଗ କାହାଣୀ/li>
                li ସମାଜରେ ଘଟିଥିବା ଓ ଘଟୁଥିବା ସତ୍ୟ ଘଟଣା କୁ ନେଇ ବଣ୍ଣିତ କାହାଣୀ
                p(style="color: #323232")
                | ଆପଣ ମାନେ ଭାରତୀୟ ଯେକୌଣସି ଭାଷାରେ ( ଯେମିତି କି- ଓଡ଼ିଆ, ) ଆମ ପାଖକୁ ଷ୍ଟୋରୀ ପଠେଇ ପାରିବେ | ଆପଣଙ୍କର କାହାଣୀ ୧୫୦୦ ଶବ୍ଦରୁ ଅଧିକ ହୋଇଥିବା ଆବଶ୍ୟକ | ଲେଖାର ବ୍ୟାକରଣ ପ୍ରତି ଧ୍ୟାନ ଦେବା ସହ ଯେପରି ସବୁରି ପ୍ରିୟ ହୋଇପାରିବ ସେ ପ୍ରତି ଧ୍ୟାନ ଦେବେ | ଲେଖାର ନାମ ନିଶ୍ଚିତ ରହିଥିବା ଆବଶ୍ୟକ | ସାଧାରଣତଃ ଆମେ ଲେଖାରେ ଲେଖକ ଙ୍କର ନାମ କିମ୍ବା ବ୍ୟକ୍ତିଗତ ତଥ୍ୟ ପ୍ରକାଶ କରିନଥାଉ | ଯଦି ଆପଣ ନିଜର ନାମ ପ୍ରକାଶ କରିବାକୁ ଚାହାନ୍ତି ତେବେ ଆପଣ ଆମକୁ ଜଣାଇବା ଆବଶ୍ୟକ| ଲେଖକଙ୍କର ଠିକଣା ଓ ବ୍ୟକ୍ତିଗତ ତଥ୍ୟ କୁ ନୂଆ ନୀତି ଅନୁଯାୟୀ ସମ୍ପୂର୍ଣ ଗୋପନ ରଖାଯିବ | ଯଦି ଚାହିଁବେ କେବଳ ଇମେଲ ପ୍ରକାଶ କରିପାରିବେ ଏବଂ ତାହା ସେହି ଇମେଲ ହୋଇଥିବା ଆବଶ୍ୟକ ଯାହା ଯୋଗେ ଆପଣ ଆମ ନିକଟକୁ ମେଲ ପଠାଇଥିବେ |
                p(style="color: #323232")
                | ଯଦି ଆପଣ ନିଜର ଯୌନ ଭିତିକ ବହି ପ୍ରକାଶ କରିବାକୁ ଚାଁହୁଛି ତେବେ ତାହାର .doc, .docx ଫାଇଲ ଆମକୁ ପଠାନ୍ତୁ |
                p(style="color: #323232") ନିମ୍ନରେ ଦର୍ଶାଯାଇଥିବା ଫର୍ମରେ ଆପଣଙ୍କ କାହାଣୀ ଲେଖନ୍ତୁ |
                iframe(src="https://docs.google.com/forms/d/e/1FAIpQLScP_TsNKxdAq6UsaPOO2kVFW8d9NgkuT8wma0xBaKUoU8ZAPQ/viewform?embedded=true" width="640" height="1173" frameborder="0" marginheight="0" marginwidth="0") Loading…
      .col-sm-4.col-sm-pull-8
        br
        nav.navbar.navbar-expand-sm.bg-light.navbar-dark
          ul.navbar-nav
            form.form-inline.my-2.my-lg-0(method='GET', action='getcomics')
              input.form-control.mr-sm-2(type="search" placeholder="Search" name="id" aria-label="Search")
              button.btn.btn.btn-info.my-2.my-sm-0(type="submit") Search
        // ---------------------------------------------------------------------------------------------------------------
        h4.categories Categories
        .bar123
        select.form-control.form-control-sm.mt-3(onchange="window.location.href=this.value")
          option Select Category
            optgroup(label=`Odia Sex Stories(${totalodia})`)
            each comic in odia
              option(value=`/category/subcategory/${comic}`) #{comic} 
            optgroup(label=`English Sex Stories(${totalenglish})`)
            each comic in english
              option(value=`/category/subcategory/${comic}`) #{comic} 
            optgroup(label=`Hindhi Sex Stories(${totalhindhi})`)
            each comic in hindhi
              option(value=`/category/subcategory/${comic}`) #{comic} 


